.container {
  width: 100%;
}

.hero {
  width: 100%;
  height: 130vh;
  background-image: linear-gradient(
      transparent,
      transparent,
      rgba(0, 0, 0, 1.5)
    ),
    url("../public/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.heroWrapper {
  width: 85%;
  height: 120vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroHeading {
  color: white;
  font-size: 5rem;
  text-align: center;
}

.heroText {
  color: var(--gray-text);
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5;
}

@media screen and (max-width: 1000px) {
  .heroHeading {
    font-size: 3rem;
  }
  .heroText {
    margin-top: 5px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .heroWrapper {
    height: 100vh;
  }
  .heroHeading {
    font-size: 2.5rem;
  }
  .heroText {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .heroWrapper {
    width: 95%;
  }
  .heroHeading {
    font-size: 2rem;
  }
  .heroText {
    font-size: 0.8rem;
    margin-top: 10px;
  }
}

@media screen and (max-width: 370px) {
  .heroHeading {
    font-size: 1.6rem;
  }
}
