.videoContainer {
  width: 100%;
  margin-top: 130px;
  text-align: center;
}

.videoWrapper {
  width: 80%;
  margin: 0 auto;
}

.imagesContainer {
  width: 100%;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.imageDiv {
  position: relative;
}

.imageDiv:hover .overlay {
  width: 0;
}

.imagesContainer img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media screen and (max-width: 750px) {
  .imagesContainer img {
    height: 180px;
  }
}
@media screen and (max-width: 600px) {
  .imagesContainer img {
    height: 200px;
  }
  .imagesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .videoWrapper {
    width: 90%;
  }
}
@media screen and (max-width: 300px) {
  .imagesContainer img {
    height: 170px;
  }
}
